USE [FormBuilder]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 22-Nov-25 6:14:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormFields]    Script Date: 22-Nov-25 6:14:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[SelectedValue] [nvarchar](200) NULL,
	[OrderNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Form] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFormDetails]    Script Date: 22-Nov-25 6:14:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetFormDetails]
    @FormId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT fm.FormId, fm.Title, fm.CreatedDate
    FROM Form fm
    WHERE fm.FormId = @FormId;

    SELECT ff.FieldId, ff.Label, ff.IsRequired, ff.SelectedValue, ff.OrderNo
    FROM FormFields ff
    WHERE ff.FormId = @FormId
    ORDER BY ff.OrderNo;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFormsPaged]    Script Date: 22-Nov-25 6:14:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetFormsPaged]
    @Start INT,
    @Length INT,
    @Search NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalCount INT;
    SELECT @TotalCount = COUNT(*) FROM Form WHERE @Search IS NULL OR Title LIKE '%' + @Search + '%';

    SELECT @TotalCount AS TotalCount;

    SELECT
        fm.FormId,
        fm.Title,
        fm.CreatedDate
    FROM Form fm
    WHERE @Search IS NULL OR fm.Title LIKE '%' + @Search + '%'
    ORDER BY fm.CreatedDate DESC
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveForm]    Script Date: 22-Nov-25 6:14:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SaveForm]
    @Title NVARCHAR(200),
    @Fields NVARCHAR(MAX) 
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FormId INT;

    INSERT INTO Form (Title) VALUES (@Title);
    SET @FormId = SCOPE_IDENTITY();

    INSERT INTO FormFields (FormId, Label, IsRequired, SelectedValue, OrderNo)
    SELECT
        @FormId,
        JSON_VALUE(value, '$.Label'),
        CASE JSON_VALUE(value, '$.IsRequired') WHEN 'true' THEN 1 ELSE 0 END,
        JSON_VALUE(value, '$.SelectedValue'),
        CAST(JSON_VALUE(value, '$.OrderNo') AS INT)
    FROM OPENJSON(@Fields);

    SELECT @FormId AS CreatedFormId;
END
GO
